
* {
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #F5F5DC;
    position: relative;
    box-sizing: border-box;
}
.nav-contents ul {
    list-style: none;
}
.nav-contents ul li {
    display: inline-block;
}
.nav-links {
    display: inline-block;
    text-decoration: none;
    color: #4A4E3D;
    padding: 1.5rem;
}
.nav-links:hover {
    background-color: #D95D34;
    color: #FFF8E1;
}
.nav-contents ul {
    position: relative;
    right: 450px;
}
div .nav-links {
    position: relative;
    left: 50px;
}